<p id="notice"><%= notice %></p>

<h1>Listing Flats</h1>

<table>
  <thead>
    <tr>
      <th>Block</th>
      <th>Floor</th>
      <th>Flat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.block %></td>
        <td><%= flat.floor %></td>
        <td><%= flat.flat %></td>
        <td><%= link_to 'Show', flat %></td>
        <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
        <td><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flat', new_flat_path %>

<br>

<h3>Import Flats</h3>
<%= form_tag import_flats_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Flats" %>
<% end %>
