<p id="notice"><%= notice %></p>

<p>
  <strong>Block:</strong>
  <%= @flat.block %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @flat.floor %>
</p>

<p>
  <strong>Flat:</strong>
  <%= @flat.flat %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
